.shoppinglists-listitem.active {
    background-color: lightgray;
}

.shoppinglists-listitem {
    display: flex;
    flex-direction: row;
}

.shoppinglists-listitem > p {
    flex: 1 0 auto;
}

.shoppinglists-listitem > button {
    flex: 0 1 2vw;
}